USE [plant]
GO
/****** Object:  Table [dbo].[监测]    Script Date: 2023/12/25 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[监测](
	[设备编号] [int] NOT NULL,
	[植物编号] [int] NOT NULL,
	[监测地点] [nvarchar](30) NOT NULL,
	[监测时间] [datetime] NOT NULL,
	[监测人员] [nvarchar](20) NOT NULL,
 CONSTRAINT [监测植物] PRIMARY KEY CLUSTERED 
(
	[设备编号] ASC,
	[植物编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[监测设备]    Script Date: 2023/12/25 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[监测设备](
	[设备编号] [int] NOT NULL,
	[设备名称] [nchar](10) NOT NULL,
 CONSTRAINT [PK__监测设备__D2D203FBD4103FB1] PRIMARY KEY CLUSTERED 
(
	[设备编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[监测指标]    Script Date: 2023/12/25 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[监测指标](
	[指标编号] [int] NOT NULL,
	[指标名称] [nchar](10) NOT NULL,
 CONSTRAINT [PK__监测指标__87D063550E4161D3] PRIMARY KEY CLUSTERED 
(
	[指标编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[使用]    Script Date: 2023/12/25 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[使用](
	[植物编号] [int] NOT NULL,
	[指标编号] [int] NOT NULL,
	[监测结果] [nchar](20) NOT NULL,
 CONSTRAINT [使用指标] PRIMARY KEY CLUSTERED 
(
	[植物编号] ASC,
	[指标编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[提供]    Script Date: 2023/12/25 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[提供](
	[指标编号] [int] NOT NULL,
	[设备编号] [int] NOT NULL,
 CONSTRAINT [PK__提供__87D063554C5262C1] PRIMARY KEY CLUSTERED 
(
	[指标编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[监测]  WITH CHECK ADD  CONSTRAINT [FK_监测_监测设备] FOREIGN KEY([设备编号])
REFERENCES [dbo].[监测设备] ([设备编号])
GO
ALTER TABLE [dbo].[监测] CHECK CONSTRAINT [FK_监测_监测设备]
GO
ALTER TABLE [dbo].[监测]  WITH CHECK ADD  CONSTRAINT [FK_监测_植物信息] FOREIGN KEY([植物编号])
REFERENCES [dbo].[植物信息] ([植物编号])
GO
ALTER TABLE [dbo].[监测] CHECK CONSTRAINT [FK_监测_植物信息]
GO
ALTER TABLE [dbo].[使用]  WITH CHECK ADD  CONSTRAINT [FK_使用_监测指标] FOREIGN KEY([指标编号])
REFERENCES [dbo].[监测指标] ([指标编号])
GO
ALTER TABLE [dbo].[使用] CHECK CONSTRAINT [FK_使用_监测指标]
GO
ALTER TABLE [dbo].[使用]  WITH CHECK ADD  CONSTRAINT [FK_使用_植物信息] FOREIGN KEY([植物编号])
REFERENCES [dbo].[植物信息] ([植物编号])
GO
ALTER TABLE [dbo].[使用] CHECK CONSTRAINT [FK_使用_植物信息]
GO
ALTER TABLE [dbo].[提供]  WITH CHECK ADD  CONSTRAINT [FK_提供_监测设备] FOREIGN KEY([设备编号])
REFERENCES [dbo].[监测设备] ([设备编号])
GO
ALTER TABLE [dbo].[提供] CHECK CONSTRAINT [FK_提供_监测设备]
GO
ALTER TABLE [dbo].[提供]  WITH CHECK ADD  CONSTRAINT [FK_提供_监测指标] FOREIGN KEY([指标编号])
REFERENCES [dbo].[监测指标] ([指标编号])
GO
ALTER TABLE [dbo].[提供] CHECK CONSTRAINT [FK_提供_监测指标]
GO
