USE [园林植物综合管理平台]
GO
/****** Object:  Table [dbo].[省]    Script Date: 2023/12/25 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[省](
	[省ID] [nchar](10) NOT NULL,
	[省名] [nchar](10) NULL,
 CONSTRAINT [PK_省] PRIMARY KEY CLUSTERED 
(
	[省ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[省分布]    Script Date: 2023/12/25 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[省分布](
	[市ID] [nchar](10) NOT NULL,
	[省ID] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[市]    Script Date: 2023/12/25 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[市](
	[市ID] [nchar](10) NOT NULL,
	[市名] [nchar](10) NULL,
 CONSTRAINT [PK_市] PRIMARY KEY CLUSTERED 
(
	[市ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[市分布]    Script Date: 2023/12/25 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[市分布](
	[县ID] [nchar](10) NOT NULL,
	[市ID] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[县]    Script Date: 2023/12/25 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[县](
	[县ID] [nchar](10) NOT NULL,
	[县名] [nchar](10) NULL,
 CONSTRAINT [PK_县] PRIMARY KEY CLUSTERED 
(
	[县ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[县分布]    Script Date: 2023/12/25 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[县分布](
	[县ID] [nchar](10) NOT NULL,
	[种ID] [int] NOT NULL,
 CONSTRAINT [PK_县分布] PRIMARY KEY CLUSTERED 
(
	[县ID] ASC,
	[种ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[省分布]  WITH CHECK ADD  CONSTRAINT [fk_省分布_市ID] FOREIGN KEY([市ID])
REFERENCES [dbo].[市] ([市ID])
GO
ALTER TABLE [dbo].[省分布] CHECK CONSTRAINT [fk_省分布_市ID]
GO
ALTER TABLE [dbo].[市分布]  WITH CHECK ADD  CONSTRAINT [fk_市分布_县ID] FOREIGN KEY([县ID])
REFERENCES [dbo].[县] ([县ID])
GO
ALTER TABLE [dbo].[市分布] CHECK CONSTRAINT [fk_市分布_县ID]
GO
ALTER TABLE [dbo].[县分布]  WITH CHECK ADD  CONSTRAINT [fk_县分布_县ID] FOREIGN KEY([县ID])
REFERENCES [dbo].[县] ([县ID])
GO
ALTER TABLE [dbo].[县分布] CHECK CONSTRAINT [fk_县分布_县ID]
GO
ALTER TABLE [dbo].[县分布]  WITH CHECK ADD  CONSTRAINT [fk_县分布_种ID] FOREIGN KEY([种ID])
REFERENCES [dbo].[种] ([种ID])
GO
ALTER TABLE [dbo].[县分布] CHECK CONSTRAINT [fk_县分布_种ID]
GO
